[submodule "docker-janusgraph"]
	path = docker-janusgraph
	url = https://github.com/erandal/docker-janusgraph.git
[submodule "docker-graphexp"]
	path = docker-graphexp
	url = https://github.com/erandal/docker-graphexp.git
[submodule "docker-hbase"]
	path = docker-hbase
	url = https://github.com/big-data-europe/docker-hbase.git
[submodule "janusgraph-env"]
	path = janusgraph-env
	url = https://github.com/erandal/janusgraph-env.git
[submodule "kafka-docker"]
	path = kafka-docker
	url = https://github.com/wurstmeister/kafka-docker.git
